html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}
.fighter {
    position: relative;
    padding: 20px;
}
.fighter-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}
.info-popup  {
    position: absolute;
    bottom: 45%;
    left: 40%;
    width: 120px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px #c5c5c5;
    background: rgba(255, 255, 255);
    
}
.popup  {
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none; 
    background-color: rgba(0,0,0,0.4);
    
}
#popup-result {
    z-index: 3;
}
.popup-content {
    text-align: center;
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
    height: 200px;
    font-size: 18px;
    line-height: 1.5;
}
.popup-game-content {
    height: auto;
    padding: 35px;

}
.close {
    border: none;
    display: inline-block;
    padding: 0 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
}
.message-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#message {
    text-align: center; 
}
.fighter-detail {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 5px;

}
.fighter-detail-change {
    font-size: 18px;
}

.fighter-detail-value {
    width: 20px;
    border: 1px solid #c5c5c5;
    border-radius: 2px;
    padding: 3px;
}
.fighter-detail-value::placeholder {
    padding: 2px;
}
.wrapper-checkbox {
  z-index:2;
}
.checkbox {
    position: absolute;
    z-index: 2;
    opacity: 0;
    margin: 10px 0 0 20px;
  }
  .checkbox + label {
    position: relative;
    padding: 0 0 0 60px;
  }
  .checkbox + label:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #CDD1DA;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    transition: .2s;
  }
  .checkbox + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: .2s;
  }
  .checkbox:checked + label:before {
    background: #9FD468;
  }
  .checkbox:checked + label:after {
    left: 26px;
  }
  .checkbox:focus + label:before {
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 0 3px rgba(255,255,0,.7);
}
.start-button {
    display: inline-block;
    cursor: pointer;
    width: 150px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.fight-start {
    text-align: center;
    margin-bottom: 20px;
}
.fighter-detail-item{
    padding-right: 5px;
}
.start {
    align-self: center;
}